*
!.gitignore

!dayrui/
dayrui/*
!dayrui/App/
dayrui/App/*
!dayrui/App/Baoshu/
!dayrui/App/Baoshu/**

!template/
template/*
!template/pc/
template/pc/*
!template/pc/chiming-cn/
template/pc/chiming-cn/*
!template/pc/chiming-cn/home/
template/pc/chiming-cn/home/*
!template/pc/chiming-cn/home/baoshu/
!template/pc/chiming-cn/home/baoshu/**
